<div id="post_show_content" class="skinny_wrapper wrapper_padding">
  <header>
  <p class="date"><%= (@project.created_at - 28.days).strftime("%A, %b %d") %></p>
    <h1><%= @project.title %></h1>
    <hr>
  </header>

  <div id="content">
    <% if @project.video.present? %>
      <div class="video">
        <%= video_tag @project.video, :size => "640x480", :controls => true, autoplay: true %>
      </div>
    <% else %>
      <div>
        <%= link_to image_tag(@project.image.url(:medium), class: "image"), @project.link, target: '_blank' %>
      </div>
    <% end %>

    <br>
   <%= markdown @project.description %>
    
    <div class="button_wrapper">
      <a href="<%= @project.link %>" class="project_button" target="_blank">Visit <%= @project.title %></a>
    </div>
  </div>

  <%= link_to 'Edit', edit_project_path %>
  <%= link_to 'Delete', project_path, method: :delete, data: { confirm: "Are you sure" } %>

  
  <hr>
</div>